body{background: rgb(175, 139, 162);
}

h1{text-align: center;
    font-size: 7rem;
    color: rgb(151, 139, 147);
    height: 125px;
    width: 400px;
    background-color: #6365586e;
    margin: 0 auto;
    border: 3px solid rgb(151, 139, 147);
    box-shadow: 0 0 0 #00000054;
    margin-top: 50px;
}

.grid1{height: 35%;
    width: 30%;
    background-color: #5252526e;
    margin: 0 auto;
    box-shadow: 0 0 0 #00000054;
    border-left: none;
    margin-top: 4%;
    margin-left: -0.55%;
}

.grid1 p{text-align: center;
}

.img1 img{height: 60%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
}

.grid1 h2{text-align: center;
}

.grid2{height: 35%;
    width: 30%;
    background-color: #5252526e;
    margin: 0 auto;
    box-shadow: 0 0 0 #00000054;
    border-left: none;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid2 p{text-align: center;
}

.img2 img{height: 60%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
}

.grid2 h2{text-align: center;  
}

.grid3{height: 35%;
    width: 30%;
    background-color: #5252526e;
    margin: 0 auto;
    box-shadow: 0 0 0 #00000054;
    border-left: none;
    margin-top: 4%;
    margin-right: -0.55%;
    
}

.grid3 p{text-align: center;
}

.img3 img{height: 60%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
}

.grid3 h2{text-align: center;  
}

.grid{display: flex;
}

.formulaire{display: inline-flex;
    margin-left: 7.5%;
    margin-bottom: 5%;
}
