body{background: rgb(175, 139, 162);
}

h1{text-align: center;
    font-size: 7rem;
    color: rgb(151, 139, 147);
    height: 125px;
    width: 400px;
    background-color: #6365586e;
    margin: 0 auto;
    border: 3px solid rgb(151, 139, 147);
    box-shadow: 0 0 0 #00000054;
    margin-top: 50px;
}

.grid{height: 500px;
    width: 500px;
    background-color: #5252526e;
    margin: 0 auto;
    border: 5px solid rgb(70, 61, 70);
    box-shadow: 0 0 0 #00000054;
    padding: 15px;
    border-left: none;
    margin-top: 50px;
    margin-left: -10px;
}

.img1 img{height: 300px;
    width: 300px;
}